*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    /* border: 5px solid red; */
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body>header{
    min-height: 120px;
    width: 100%;
    padding: 0px 40px;
    background-color: lightgreen;   
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header img{
    width: 80px;
}

nav{
    background-color: lightgray;
    display: flex;
    justify-content: center;
}

nav ul{
    display: flex;
    list-style: none;
}

nav ul li a{
    text-decoration: none;
    color: #444;
    display: inline-block;
    padding: 10px 20px;
}

nav ul li a:hover{
    color: lightgray;
    background-color: #444;

}

main{
    flex-grow: 1;
    display: flex;
    flex-wrap: wrap;

}

section{
    /* border: 2px solid red; */
    flex: 1 1 300px;
}

section h2{
    text-align: center;
}

.masc{
    padding: 20px;
}

.masc h2{
    margin-bottom: 15px;
}

.masc p{
    margin: 10px 0px;
}

.masc img{
    max-width: 100%;
}

.fem{
    background-color: lightgoldenrodyellow;
    padding: 20px;
}

.fem>p{
    padding: 10px 0px;
}

article{
    background-color: #fff;
    padding: 10px;
}

article>header>h1{
    text-align: center;
    padding: 10px;
}

article>p{
    padding: 10px;
    text-align: justify;
}

article>footer>p{
    font-size: 12px;
    text-align: center;
    font-style: italic;
}


body>footer{
    background-color: #232;
    min-height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

body>footer p{
    color: #fff;
}
